@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Ubuntu", sans-serif;
}

button {
    font-family: inherit;
}

/* * {
    transition: all 150ms;
} */

@media (min-width: 1024px) {
    body {
        display: grid;
        place-content: center;
        height: 100svh;
    }
}
